<div id="<%= dom_id thing %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= thing.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Votes:</strong>
    <%= thing.votes %>
  </p>

</div>
