<div id="<%= dom_id thing %>">
  <p class="mb-4">
    <strong class="block font-medium text-gray-700 mb-1">Name:</strong>
    <span class="text-lg"><%= thing.name %></span>
  </p>

  <%= render "things/votes", thing: thing %>
</div>
