<%= turbo_stream_from "votes" %>
<div class="mb-4" id="<%= dom_id(thing, :votes) %>">
  <strong class="block font-medium text-gray-700 mb-1">Votes:</strong>
  <span class="text-lg font-semibold text-blue-600"><%= thing.votes %></span>
</div>
